body {
	background-color: #E0FFFF;
	margin: 0;
	
}
header {
    background-color: #40E0D0;
    height: 80px;
    width: 100%;
	position: fixed ;
	
	
	
}
h1 {
	font-family: 'Carter One', cursive;
	color: red ;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	
}

h2 {
	padding-top: 90px;
	
}

h2 {
	padding-top: 120px;
	
	
}

.judul {
	text-align: center;
	display: inline-block;
	padding-left:300px;
	
}


p {
	font-family: Arial, serif;
	line-height: 20px ;
}



.logo {
    float: left;
    margin-left:40px;
    margin-top: 5px;

}

div{
	padding: 1px 100px 100px 100px;
	
}

nav {
    float: right;
    /*margin-right: 50px;
    margin-top: 40px;*/
    margin: 16px 50px 0px 0 ;
	
}

nav li{
	font-family:'Merienda One', cursive;
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}